html {
  scroll-behavior: smooth;
}

body {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
}

main {
  line-height: 1.6;
  margin-top: -100px;
  padding-left: 200px;
  padding-right: 200px;
}

header {
  color: #fff;
  font-size: xx-large;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: transparent;
  z-index: 10;
  padding: 1em 0;
}

header.scrolled {
  box-shadow: 0 8px 12px -6px #ff4136;
}

header h1 {
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

header.scrolled h1 {
  transform: translateY(0%);
  opacity: 100;
}

.footer-info {
  padding-left: 220px;
}

footer {
  justify-content: space-between;
  padding-right: 200px;
  padding-left: 200px;
  align-items: right;
  background-color: #2b2b2b;
  color: #fff;
  bottom: 0;
  padding: 1em 0;
}

section {
  scroll-margin-top: 145px;
  margin: 1em 0;
  padding: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5em;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.card-container h3 {
  margin: 0;
  flex-grow: 1;
}

.content {
  max-height: 5000px;
  transition: max-height 1s ease-out;
}

.hidden {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 1s ease-out;
}

.highlight {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    text-shadow: 0 0 0px rgba(255, 65, 54, 1);
  }
  50% {
    text-shadow: 0 0 10px rgba(255, 65, 54, 1);
  }
  100% {
    text-shadow: 0 0 20px rgba(255, 65, 54, 0);
  }
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: #ff4136;
  text-decoration: none;
  cursor: pointer;
}

.card {
  position: relative;
  border-radius: 6px;
  background-color: #333;
  border: 1px solid #ff4136;
  margin: 0.5em;
  padding: 1em;
}

.card.stack {
  width: 300px;
}

.card.skill {
  width: 300px;
}

.card.experience {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
}

.company-logo {
  padding-left: 20px;
  height: 80%;
  margin-right: 10px;
  align-self: center;
}

.collapsible-container {
  display: flex;
  align-items: center;
}

#personalProjects {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 60vh;
}

.carousel-item {
  max-width: 600px;
  transition: transform 0.5s, z-index 0.5s;
  position: absolute;
  will-change: transform, z-index, opacity;
}

.carousel-item.active {
  transform: scale(1);
  z-index: 2;
  opacity: 1;
}

.carousel-item.active:hover {
  background-color: #3b3b3b;
  transform: scale(1.06) !important;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 6px 12px #ff4136;
}

.carousel-item.inactive {
  transform: scale(0.4);
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.carousel-item.next,
.carousel-item.prev {
  z-index: 0;
  opacity: 0.4;
}

.carousel-item.next {
  transform: translateX(70%) scale(0.8);
}

.carousel-item.prev {
  transform: translateX(-70%) scale(0.8);
}

.repo-name {
  text-align: center;
}

.repo-link {
  text-decoration: none;
}

.repo-image {
  width: 100%;
  display: block;
  margin: 0 auto;
}

#spinner {
  margin-left: 10px;
  display: none;
}

#stack .card {
  height: 350px;
}

.card[data-aos]:hover {
  background-color: #3b3b3b;
  transform: scale(1.06) !important;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 6px 12px #ff4136;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.logo-container img {
  max-width: 90%;
  max-height: 90%;
}

.contact-container {
  display: flex;
  align-items: start;
}

.social-media-icons {
  flex-direction: column;
}

.social-media-icons a {
  display: block;
  margin-bottom: 20px;
}

.icon-container {
  position: relative;
  width: 50px;
  height: 50px;
}

.icon-white,
.icon-colored {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.icon-colored {
  visibility: hidden;
}

.icon-container:hover .icon-white {
  visibility: hidden;
}

.icon-container:hover .icon-colored {
  visibility: visible;
}

.text-container {
  position: absolute;
  bottom: 20px;
  width: 90%;
  text-align: center;
}

.title {
  color: #ff4136;
  font-size: xx-large;
}

#sidebar {
  width: 50px;
  overflow: hidden;
  font-weight: 700;
  border-right: 2px solid #ff4136;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #2b2b2b;
  height: 100%;
  z-index: 2;
  transition: width 0.5s, background-color 1s ease, color 1s ease, box-shadow 1s ease;
}

#sidebar ul li a {
  text-decoration: none;
  color: #fff;
  display: flex;
  top: 160px;
  position: relative;
  padding: 10px 15px;
  white-space: nowrap;
}

#sidebar ul li a:hover {
  background-color: #333;
  color: #ff4136;
  box-shadow: 0 -6px 12px -6px #ff4136, 0 6px 12px -6px #ff4136;
  transition: box-shadow 0.5s ease, background-color 1s ease;
}

.profile-photo {
  border-radius: 6px;
  border: 1px solid #ff4136;
}

.nav-link:hover svg {
  fill: #ff4136;
}

#sidebar li a i {
  fill: #fff;
  padding-right: 10px;
  vertical-align: middle;
}

#sidebar.collapsed li a span {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s ease;
}

#sidebar:not(.collapsed) li a span {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition: visibility 0s ease 0s, opacity 0.5s ease 0.5s, transform 0.5s ease 0.5s;
}

#bodyHeader {
  text-align: center;
  padding: 1em 0;
}

#mg-logo-container {
  padding-right: 220px;
}

#mg-logo {
  width: 150px;
  height: auto;
}

#particles-js {
  position: absolute !important;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

hr.gradient {
  height: 2px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(90deg, #333 0%, #ff4136 50%, #333 100%);
}

h1,
h3,
.title .role {
  color: #fff;
}

h2 {
  color: #ff4136;
}

a,
.title .name {
  color: #ff4136;
}
